@charset "UF8-8";
@media screen and (min-width: 768px){
   span#hamburger{
           display: none;
     }
     menu{
        display: block;
     }
    menu > ul > li {
        display:inline-block
    }
    main{
        width: 768px;
    }
}